.banners-module.module {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  row-gap: 12px;
}

.banner {
  padding: 8px;
  border: 1px solid var(--text-color);
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
