.experience-usonia-module.module {
  margin-top: 72px;
  margin-bottom: 128px;
}

.hero-image + .experience-usonia-module.module {
  margin-top: 0;
  margin-bottom: 96px;
}

.experience-usonia-module__text {
  grid-column: span 12;
}

.experience-usonia-module__cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  font-size: 20px;
  grid-row: 4;
  grid-column: span 12;
}

.experience-usonia-module__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

@media (max-width: 768px) {
  .experience-usonia-module.module {
    margin-bottom: 64px;
  }

  .experience-usonia-module__tagline {
    grid-column: span 12;
    margin-bottom: 24px;
  }

  .experience-usonia-module__text {
    grid-column: span 12;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .experience-usonia-module__cta {
    grid-column: span 12;
    font-size: unset;
  }
}
