.header-module.module {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
}

.header-module__main {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.header-module__main a {
  display: flex;
  width: 80px;
  aspect-ratio: 2 / 3;
}

.header-module__logo {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-color: var(--text-color);
}

.header-module__logo svg {
  padding: 2px;
  color: var(--primary-color);
}

.header-module__metadata {
  display: none;
  font-size: 13px;
  line-height: 17px;
}

.header-module__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

@media (max-width: 768px) {
  .header-module__metadata {
    display: block;
  }

  .header-module__links {
    display: none;
  }
}
