.matterport-module.module {
  margin-bottom: 48px;
}

.matterport-module__content {
  grid-column: span 10;
}

@media (max-width: 768px) {
  .matterport-module.module {
    padding: 0;
    margin-bottom: 32px;
  }

  .matterport-module__content {
    grid-column: span 6;
  }
}
