.newsletter-module {
  border: 1px solid var(--text-color);
  padding: 16px;
  font-size: small;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.newsletter label {
  font-weight: 500;
}

.newsletter input {}


.newsletter .powered-by a {
  color: var(--text-color);
}
