.newsletter-module.module{}

.newsletter-module__inner {
  border: 1px solid var(--text-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  grid-column: span 8;
}

.newsletter-module form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.newsletter-module input[type="email"] {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .newsletter-module form {
    flex-direction: column;
  }
}
