{% from "macros/button.njk" import button %}

<div class="experience-usonia-module module">
  <div class="experience-usonia-module__text">
    {{ renderModule("bigText", { content: text }) }}
  </div>
  <div class="experience-usonia-module__cta">
    <div class="experience-usonia-module__buttons">
      {% call button('https://airbnb.com/h/goetschwincklerhouse', 'secondary', 'large') -%}
        {% include "static/svg/airbnb.svg" %}
      {%- endcall %}
    </div>
    {% if isWide %}
      Experience Usonia.
    {% endif %}
  </div>
</div>
