<footer class="footer-module module">
  <div class="footer-module__content">
    <div class="footer-module__graphic">
      {% include "partials/house-2.njk" %}
    </div>
    <div class="footer-module__meta">
      <p>
        Copyright &copy; 2023&ndash;{{ currentYear() }} <a href="mailto:info@experienceusonia.com" title="Email info@experienceusonia.com">Experience Usonia, LLC</a><br/>
        Website by <a href="https://n8.engineer" target="__blank">n8.engineer</a>
      </p>
      <p>
        <strong>Private property.</strong><br/>
        No trespassing.<br/>
        Do not disturb occupants.
      </p>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/licensing">Licensing</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
      </ol>
      {# <p class="footer-module__top"><a href="#top">Top</a></p> #}
    </div>
  </div>
</footer>
