<footer class="footer-module module">
  <div class="footer-module__logo">
    {% include "partials/logo-2.njk" %}
  </div>
  <p>
    Copyright &copy; 2023&ndash;{{ currentYear() }} Experience Usonia, LLC.<br/>
    Website by <a href="https://n8.engineer">n8.engineer</a>.
  </p>
  <p>
    <a href="/">Home</a>
    &middot;
    <a href="/privacy">Privacy</a>
    &middot;
    <a href="/contact">Contact</a> 
  </p>
</footer>
