<header class="header">
  <a class="header__logo" href="/" aria-title="Goetsch&ndash;Winckler house; Click to go to the homepage">
    {% include "partials/wordmark.njk" %}
  </a>
  <div class="header__links">
    <a class="button button-secondary" rel="nofollow noreferrer" target="_blank" href="https://airbnb.com/h/goetschwincklerhouse">
      {% include "partials/airbnb.njk" %}
    </a>
    <a class="button button-secondary" rel="nofollow noreferrer" target="_blank" href="https://instagram.com/goetschwincklerhouse">
      {% include "partials/instagram.njk" %}
    </a>
  </div>
</header>
