<header class="header-module module">
  <div class="header-module__logo">
    <a href="/" aria-title="Goetsch&ndash;Winckler house; Click to go to the homepage">
      {% include "partials/logo.njk" %}
    </a>
  </div>
  <div class="header-module__metadata">
    Frank Lloyd Wright<br/>
    Okemos, MI<br/>
    1940
  </div>
</header>
