<div class="hero-module module">
  <div class="hero-module__hero">
    <div class="hero-module__screen"></div>
    <img class="hero-module__image" src="{{ image.fields.file.url }}" alt="" />
    <div class="hero-module__content">
      <div class="hero-module__tagline">
        <span aria-label="Experience Usonia" role="h1">
          {% include "partials/tagline.njk" %}
        </span>
      </div>
      {# <div class="hero-module__metadata">
        <p>Frank Lloyd Wright &middot; Okemos, MI &middot; 1940</p>
      </div> #}
      <div class="hero-module__links">
        {{ renderModule("links", ctx()) }}
      </div>
      {# <div class="hero-module__privacy">
        <p>
          <strong>Not open to the public</strong><br/>
          Private property. Do not disturb occupants. Enjoy from a distance.
        </p>
      </div> #}
    </div>
  </div>
</div>
