<div class="image-three-up-module {{ 'image-three-up-module--wide' if isWide }} module">
  <div class="image-three-up-module__content">
    {{ renderModule('imageOneUp', { image: image1, caption: null }) }}
    {{ renderModule('imageTwoUp', { image1: image2, image2: image3, caption: caption }) }}
  </div>
</div>
