<div class="image-two-up-module {{ 'image-two-up-module--wide' if isWide }} module">
  <div class="image-two-up-module__content">
    <div class="image-two-up-module__images">
      <img class="lazyload" data-src="{{image1.fields.file.url}}" alt="" />
      <img class="lazyload" data-src="{{image2.fields.file.url}}" alt="" />
    </div>
    {% if caption %}
      <div class="image-two-up-module__caption">
        {{ renderModule('caption', caption.fields) }}
      </div>
    {% endif %}
  </div>
</div>
