<div class="links-module module">
  <div class="links-module__buttons">
    <a class="button" href="https://airbnb.com/h/goetschwincklerhouse" target="__blank" rel="nofollow noreferrer" title="Airbnb">
      {% include "partials/airbnb.njk" %}
    </a>
    {% if includeInstagram %}
      <a class="button" href="https://www.instagram.com/goetschwincklerhouse" target="__blank" rel="nofollow noreferrer" title="Instagram">
        {% include "partials/instagram.njk" %}
      </a>
    {% endif %}
  </div>
</div>
