<div class="matterport-module module">
  <div class="matterport-module__content">
    <iframe width="100%" height="500px" src="https://my.matterport.com/show/?m=kmtyGehVgeu" frameborder="0" allowfullscreen allow="autoplay; fullscreen; web-share; xr-spatial-tracking;"></iframe>
  </div>
</div>
