<header class="nav-module module {{ 'nav-module--wide' if isHomepage }}">
  <nav class="nav-module__nav">
    <a href="/" title="Go home" aria-description="Goetsch-Winckler House logotype; Click to go home.">
      <div aria-label="Goetsch–Winckler House" role="h1">
        {% include "partials/wordmark.njk" %}
      </div>
    </a>
    <details class="nav-module__nav-menu">
      <summary></summary>
      <div class="nav-module__nav-links">
        <div class="nav-module__nav-screen"></div>
        <ol>
          <li>
            <a href="/">
              <div class="nav-module__nav-wordmark-link">
                {% include "partials/wordmark.njk" %}
              </div>
            </a>
          </li>
          <li><a class="{{ 'active' if pageKey === 'visit' }}" href="/visit">Visit</a></li>
          <li><a class="{{ 'active' if pageKey === 'events' }}" href="/events">Events</a></li>
          <li><a class="{{ 'active' if pageKey === 'bookings' }}" href="/bookings">Bookings</a></li>
          <li><a class="{{ 'active' if pageKey === 'press' }}" href="/press">Press</a></li>
          <li><a class="{{ 'active' if pageKey === 'contact' }}" href="/contact">Contact</a></li>
        </ol>
      </div>
    </details>
  </nav>
</header>
