<div class="nav-module {{ 'nav-module--home' if pageKey === 'home' }} module">
  <nav class="nav-module__main">
    <div class="nav-module__wordmark">
      <a href="/" aria-description="Goetsch–Winckler house wordmark; Click to go home.">
        <div class="nav-module__wordmark-art"></div>
        {% include "partials/wordmark.njk" %}
      </a>
    </div>
    <div class="nav-module__links">
      {% include "partials/nav-links.njk" %}
    </div>
  </nav>
</div>
