<div class="nav-module {{ 'nav-module--home' if pageKey === 'home' }} module">
  <nav class="nav-module__inner">
    <div class="nav-module__main">
      <div class="nav-module__wordmark">
        <a href="/" aria-description="Goetsch–Winckler house wordmark; Click to go home.">
          {% include "partials/wordmark.njk" %}
        </a>
      </div>
      <div class="nav-module__links">
        {% include "partials/nav-links.njk" %}
      </div>
    </div>
    <details>
      <summary aria-description="Toggle navigation">
        {% include "partials/hamburger.njk" %}
      </summary>
      <div class="nav-module__links">
        {% include "partials/nav-links.njk" %}
      </div>
    </details>
  </nav>
</div>
