<div class="section-module module {{ customClasses }}">
  <div class="section-module__title">
    <h1>{{ title }}</h1>
  </div>
  {% if content %}
    <div class="section-module__content">
        {{ renderModule("paragraph", ctx()) }}
    </div>
  {% endif %}
</div>
