<div class="tickets-module module">
  <ol class="tickets-module__events">
    {% for event in events %}
      {% if event.status === 'published' and event.private !== 'true' and event.hidden !== 'true' %}
        {% set isOnlineEvent = event.online_event === 'true' %}
        {% set ticket = event.ticket_types[0] %}
        {% set isFreeEvent = ticket.price === 0 %}
        {% set isUnavailable = event.tickets_available === 'false' %}
        {% set ticketsRemaining = ticket.quantity - ticket.quantity_held %}
        {% set isRegularTicketsSoldOut = ticketsRemaining === 0 %}
        {% set isUpcoming = event.tickets_available === 'upcoming' %}
        {% set numSeats = ticket.quantity_total %}
        {% set numOrders = ticket.quantity_issued %}
        {% set eventInstanceURL = "https://www.tickettailor.com/checkout/view-event/id/" + event.id.slice(3) + "/chk/" + event.chk %}
        <li class="tickets-module__event">
          <div class="tickets-module__event-inner">
            <h3 class="tickets-module__event-title">
              <a href="{{ event.url }}" target="_blank" rel="nofollow noreferrer">
                {{ event.name }}
              </a>
              {# {% if isFreeEvent %}
                <span class="tickets-module__free">Free!</span>
              {% endif %} #}
            </h3>
            {% set startDate = toFriendlyETDateLocaleString(event.start.iso, { month: 'short', weekday: 'short', year: 'numeric', day: 'numeric' }) %}
            {% set startHour = toFriendlyETDateLocaleString(event.start.iso, { hour: 'numeric', minute: '2-digit', hour12: true }) %}
            {% set endHour = toFriendlyETDateLocaleString(event.end.iso, { hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }) %}
            <span class="tickets-module__event-date">
              {{ startDate }}, {{startHour}}–{{ endHour }}
            </span>
            <div class="tickets-module__event-description">
              <p>{{ event.description | truncate('[\r\n]+', '… <a href="' + event.url + '" target="_blank">more</a>') | safe }}</p>
            </div>
            <div class="tickets-module__register">
              <div class="tickets-module__spots">
                {% if isRegularTicketsSoldOut %}
                  {{ event.tickets_unavailable_at_message }}
                {% elif isUpcoming %}
                  {% set ticketsOnSaleDate = toFriendlyETDateLocaleString(event.tickets_available_at.iso, { month: 'short', year: 'numeric', day: 'numeric' }) %}
                  <span class="countdown" data-template="Registration opens on {{ ticketsOnSaleDate }}" data-message="{{ event.tickets_available_at_message }}" data-target="{{ event.tickets_available_at.iso }}">
                    Registration opens on {{ ticketsOnSaleDate }}
                  </span>
                {% elif ticketsRemaining > 0 %}
                  {{ ticketsRemaining }} {{ 'spots' if ticketsRemaining > 1 else 'spot' }} left
                {% endif %}
              </div>
              <div class="tickets-module__button">
                <a href="{{ eventInstanceURL }}{{ '#ticket_selection' if isRegularTicketsSoldOut }}" class="button {{ 'button-secondary' if (isRegularTicketsSoldOut or isUpcoming) }}" target="_blank">
                  {% if isRegularTicketsSoldOut %}
                    {# {{ event.waitlist_call_to_action }} #}
                    {# {{ event.call_to_action }} #}
                    No spaces left
                  {% else %}
                    {{ event.call_to_action }}
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
