<div class="events-module module">
  {% for event in events %}
    {% if event.status === 'published' and event.private !== 'true' and event.hidden !== 'true' %}
      {% set isOnlineEvent = event.online_event === 'true' %}
      {% set ticket = event.ticket_types[0] %}
      {% set isFreeEvent = ticket.price === 0 %}
      {% set isUnavailable = event.tickets_available === 'false' %}
      {% set isUpcoming = event.tickets_available === 'upcoming' %}
      {% set numSeats = ticket.quantity_total %}
      {% set numOrders = ticket.quantity_issued %}
      <div class="events-module__event">
        <div class="events-module__event-inner">
          <h3>
            <a href="{{ event.url }}" target="_blank">
              {{ event.name }}
            </a>
            {{ '<span class="events-module__free">Free!</span>' | safe if isFreeEvent }}
          </h3>
          {% set startDate = toFriendlyETDateLocaleString(event.start.iso, { month: 'short', weekday: 'short', year: 'numeric', day: 'numeric' }) %}
          {% set startHour = toFriendlyETDateLocaleString(event.start.iso, { hour: 'numeric', minute: '2-digit', hour12: true }) %}
          {% set endHour = toFriendlyETDateLocaleString(event.end.iso, { hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }) %}
          <p>{{ startDate }}, {{startHour}}–{{ endHour }}</p>
          <p>{{ ticket.description }}</p>
          <div class="events-module__register">
            {% set ticketsRemaining = numSeats - numOrders %}
            <div class="events-module__spots">
              {% if isUnavailable %}
                <p>{{ event.tickets_unavailable_at_message }}</p>
              {% elif isUpcoming %}
                {% set ticketsOnSaleDate = toFriendlyETDateLocaleString(event.tickets_available_at, { month: 'short', year: 'numeric', day: 'numeric' }) %}
                <p class="countdown" data-template="{{ event.tickets_available_at_message }}" data-target="{{ event.tickets_available_at }}">
                  Registration opens on {{ ticketsOnSaleDate }}
                </p>
              {% else %}
                {% if ticketsRemaining === 1 %}
                  <p>{{ ticketsRemaining }} spot left</p>
                {% else %}
                  <p>{{ ticketsRemaining }} spots left</p>
                {% endif %}
              {% endif %}
            </div>
            {% if not isUpcoming %}
              <div class="events-module__button">
                <a href="{{ event.url }}{{ '#ticket_selection' if isUnavailable }}" class="button {{ 'button-secondary' if (isUnavailable or isUpcoming) }}" target="_blank">
                  {% if isUnavailable %}
                    {{ event.waitlist_call_to_action }}
                  {% else %}
                    {{ event.call_to_action }}
                  {% endif %}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
