<div class="events-module module">
  {% for event in events %}
    {% if event.status === 'published' and event.private !== 'true' and event.hidden !== 'true' %}
      {% set isOnlineEvent = event.online_event === 'true' %}
      {% set ticket = event.ticket_types[0] %}
      {% set isFreeEvent = ticket.price === 0 %}
      {% set numSeats = ticket.quantity_total %}
      {% set numOrders = ticket.quantity_issued %}
      <div class="events-module__event">
        <div class="art-bar"></div>
        <div class="events-module__event-inner">
          <h4>
          {{ '<span class="events-module__free">Free!</span>' | safe if isFreeEvent }}
            <a href="{{ event.url }}" target="_blank">
              {{ event.name }}
            </a>
          </h4>
          <p>{{ ticket.description }}</p>
          {% set startDate = toFriendlyETDateLocaleString(event.start.iso, { month: 'short', weekday: 'short', year: 'numeric', day: 'numeric' }) %}
          {% set startHour = toFriendlyETDateLocaleString(event.start.iso, { hour: 'numeric', minute: '2-digit', hour12: true }) %}
          {% set endHour = toFriendlyETDateLocaleString(event.end.iso, { hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }) %}
          <p>{{ startDate }}, {{startHour}}–{{ endHour }}</p>
          <div class="events-module__register">
            {% set ticketsRemaining = numSeats - numOrders %}
            {% set isSoldOut = event.tickets_available === "false" or ticket.status !== 'on_sale' %}
            <div class="events-module__spots">
              {% if isSoldOut %}
                <p>Registration full!</p>
              {% else %}
                {% if ticketsRemaining === 1 %}
                  <p>{{ ticketsRemaining }} spot left</p>
                {% else %}
                  <p>{{ ticketsRemaining }} spots left</p>
                {% endif %}
              {% endif %}
            </div>
            <div class="events-module__button">
              <a href="{{ event.url }}" class="button {{ 'button-secondary' if isSoldOut }}" target="_blank">
                {% if isSoldOut %}
                  {{ event.waitlist_call_to_action }}
                {% else %}
                  {{ event.call_to_action }}
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
