.big-text-module.module {
	margin: 4rem auto;
  line-height: 2.5rem;
  font-size: 28px;
  color: var(--link-color);
	font-family: "Libre Bodoni", sans-serif;
  line-height: 2.5rem;
  font-size: 28px;
  hyphens: auto;
  text-align: center;
}

.big-text-module__inner {
  border: 1px solid var(--link-color);
  padding: 48px;
}

@media screen and (max-width: 768px) {
  .big-text-module.module {
    margin: 3rem auto;
    padding: 0 32px;
    font-size: 24px;
    line-height: 32px;
  }

  .big-text-module__inner {
    padding: 32px;
  }
}
