.big-text-module.module {
  margin-top: 48px;
  margin-bottom: 48px;
  line-height: 48px;
  font-size: 28px;
  color: var(--link-color);
  font-family: "Montserrat", sans-serif;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.big-text-module.big-text-module--wide.module,
.big-text-module:not(.big-text-module--wide).module .big-text-module__inner {
  background-color: var(--link-color);
  color: var(--secondary-color);
  margin: 0;
  max-width: 100%;
}

.big-text-module__inner {
  padding: 48px 56px 56px;
}

.big-text-module.big-text-module--wide.module .big-text-module__inner {
  max-width: 840px;
  margin: 0 auto;
  padding: 64px 0;
}

.big-text-module strong {
  font-weight: 600;
}

.big-text-module p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .big-text-module.module {
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 32px;
  }

  .big-text-module.big-text-module--wide.module {
    padding: 0 32px;
  }

  .big-text-module__inner,
  .big-text-module:not(.big-text-module--wide).module .big-text-module__inner,
  .big-text-module.big-text-module--wide.module .big-text-module__inner {
    padding: 36px 0 42px;
  }

  .big-text-module:not(.big-text-module--wide).module .big-text-module__inner {
    padding-left: 32px;
    padding-right: 32px;
  }

  .big-text-module:not(.big-text-module--wide).module {
    padding: 0;
  }
}
