.big-text-module.module {
  margin-top: 48px;
  margin-bottom: 48px;
  line-height: 48px;
  font-size: 28px;
  color: var(--link-color);
  font-family: "Montserrat", sans-serif;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.big-text-module:not(.big-text-module--wide).module {
  max-width: 580px;
}

.big-text-module__inner {
  border: 1px solid var(--link-color);
  padding: 56px;
}

.big-text-module:not(.big-text-module--wide).module .big-text-module__inner {
  padding: 36px;
}

.big-text-module strong {
  font-weight: 600;
}

.big-text-module p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .big-text-module.module {
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 32px;
  }

  .big-text-module__inner,
  .big-text-module:not(.big-text-module--wide).module .big-text-module__inner {
    padding: 32px 16px;
  }
}
