.callout-module.module {
  width: 100%;
  margin: 27px 0;
}

.callout-module .callout-module__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  grid-column: span 10;
  padding: 8px 12px;
  border: 1px solid var(--text-color);
}

.callout-module.callout-module--big .callout-module__content {
  padding: 24px;
}

.callout-module:not(.callout-module--big) .callout-module__content p {
  font-size: 15px;
  line-height: 22px;
}
  

@media (max-width: 1024px)  {
  .callout-module .callout-module__content {
    grid-column: span 10;
  }
}

@media (max-width: 768px)  {
  .callout-module.module {
    margin: 28px 0;
  }

  .callout-module .callout-module__content {
    grid-column: span 6;
  }
}
