.caption-module.module {
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  margin: 0;
}

.caption-module p {
  text-align: right;
  margin: 0;
  padding-top: 2px;
  font-size: 10px;
  line-height: 12px;
}

.caption-module.caption-module--wide {
  max-width: 100%;
}

@media (max-width: 768px) {
  .module .caption-module.module {
    text-align: left;
  }

  .module .caption-module.module p {
    padding-left: 4px;
    padding-right: 4px;
  }

  .caption-module p {
    max-width: 100%;
  }
}
