.caption-module.module {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
	display: flex;
  justify-content: flex-end;
  color: var(--tertiary-color);
	margin-top: -8px;
  margin-bottom: -15px;
}

.caption-module p {
	max-width: 66%;
	text-align: right;
}

.caption-module.caption-module--wide {
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.caption-module.module {
		text-align: left;
	}

	.caption-module p {
		max-width: 100%;
	}
}
