.caption-module.module {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-end;
  color: var(--tertiary-color);
  line-height: 14px;
}

.caption-module p {
  max-width: 66%;
  text-align: right;
  margin: 0;
  padding-top: 4px;
}

.caption-module.caption-module--wide {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .module .caption-module.module {
    text-align: left;
  }

  .module .caption-module.module p {
    padding-left: 4px;
    padding-right: 4px;
  }

  .caption-module p {
    max-width: 100%;
  }
}
