.events-module.module {
	max-width: 580px;
}

.events-module .events-module__event {
	margin: 64px 0;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.events-module .events-module__free {
	color: var(--link-color);
	font-style: italic;
	padding-right: 8px;
}

.events-module__register {
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin-top: 8px;
}

.events-module .events-module__button {
}

.events-module .events-module__spots {
	font-style: italic;
}

@media screen and (max-width: 768px) {
	.events-module .events-module__event {
		margin: 36px 0;
	}
}