.events-module.module {
	max-width: 580px;
	margin-top: 72px;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.events-module .events-module__event {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	border: 1px solid var(--tertiary-color);
  padding: 24px;
  border-radius: 24px;
  font-size: 17px;
  line-height: 1.3em;
}

.events-module .events-module__free {
	color: var(--link-color);
	font-style: italic;
	padding-right: 8px;
}

.events-module__register {
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin-top: 8px;
}

.events-module .events-module__button {
	line-height: 20px;
}

.events-module .events-module__spots {
	font-style: italic;
}