.extras {
  position: sticky;
  top: 24px;
  padding-bottom: 24px;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: calc(50vh - 24px);
}

.trespassing {
  border: 1px solid var(--text-color);
  padding: 16px;
  font-size: 14px;
  line-height: 18px;
}

.newsletter {
  border: 1px solid var(--text-color);
  padding: 16px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.newsletter label {
  font-weight: 500;
}

.newsletter input[type=submit] {
  background-color: var(--link-color);
  color: var(--primary-color);
  border: 1px solid var(--link-color);
}

.newsletter .powered-by a {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .extras {
    flex-direction: column-reverse;
  }
}
