.footer-module.module {
  margin-top: 212px;
  margin-bottom: 64px;
  text-align: center;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  max-width: 420px;
  color: var(--tertiary-color);
  line-height: 1.5em;
}

.footer-module__wordmark {
  max-width: 64px;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .footer-module.module {
    margin-top: 156px;
    margin-bottom: 48px;
    padding: 0 54px;
  }
}
