.header-module.module {
  font-size: 0.75rem;
  row-gap: 1rem;
  align-items: left;
  margin-top: 6em;
}

.header-module__logo {
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.header-module__logo::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: 6px;
  background-color: var(--link-color);
}

.header-module__logo svg {
  height: 100%;
  display: inline-block;
  max-height: 18px;
  color: inherit;
}
