.header-module.module {
  margin-top: 16px;
}

.header-module.header-module--wide {
  margin-top: 0;
}

.header-module #nav {
  height: 84px;
  width: 84px;
}

.header-module.header-module--wide #nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 120px;
  width: 120px;
}

.header-module #nav a {
  color: var(--primary-color);
  line-height: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  background: var(--link-color);
}

.header-module #nav a:hover,
.header-module #nav a:active {
  background: var(--link-color-alt);
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .header-module #nav {
    height: 80px;
    width: 80px;
  }
}