.header-module.module {
  margin-bottom: 0;
}

.header-module__logo {
  grid-row: 1;
  grid-column: span 2;
}

.header-module__logo a {
  display: flex;
}

.header-module__metadata {
  margin-top: 8px;
  grid-row: 2;
  grid-column: span 3;
  font-size: 13px;
  line-height: 16px;
}
