@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(-50%) translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
}

.hero-module.module {
  background-color: #371400;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.hero-module__hero {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  color: var(--secondary-color);
  height: 100vh;
  min-height: 814px;
}

.hero-module__screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(83,4,9,0.35) 0%, rgba(83,4,9,0.35) 65%, rgba(83,33,4,1) 90%, rgba(83,33,4,1) 100%);
  opacity: 75%;
  z-index: 1;
}

.hero-module__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
  margin: 0;
}

.hero-module__tagline-container {
  mask-size: cover;
  mask-position: bottom center;
  mask-mode: luminance;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.hero-module__tagline {
  position: absolute;
  width: 54%;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  pointer-events: none;
  margin: 0;
  min-width: 400px;
  animation: fadein;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.hero-module__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  z-index: 2;
  text-align: center;
}

.hero-module__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  margin-bottom: 0.75rem;
}

.hero-module__metadata {
  color: var(--secondary-color);
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.hero-module__links {
  margin-top: 0.5rem;
}

.hero-module__links .links-module.module {
  margin: 0 auto;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .hero-module__hero {
    height: 75vh;
    min-height: auto;
  }

  .hero-module__image {
    object-position: 83% bottom;
  }

  .hero-module__tagline-container {
    mask-position: 83% bottom;
  }

  .hero-module__tagline {
    width: 100%;
    min-width: auto;
  }

  .hero-module__content {
    bottom: 5%;
    padding: 0 36px;
  }

  .hero-module__title {
    margin-bottom: 0.25rem;
    max-width: 240px;
  }

  .hero-module__title h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .hero-module__metadata {
    margin-bottom: 1rem;
  }
  
  .hero-module__links .links-module.module .links-module__coming-soon {
    display: none;
  }
}
