.image-one-up-module.module {
  margin-bottom: 48px;
}

.image-one-up-module--wide.module .image-one-up-module__content {
  grid-column: span 12;
}

.image-one-up-module__content {
  grid-column: span 10;
}

.image-one-up-module__image {
  margin: 0;
}

.image-one-up-module__caption {
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .image-one-up-module.module {
    padding: 0;
    margin-bottom: 32px;
  }

  .image-one-up-module.hero-image img {
    height: 100%;
    object-fit: cover;
    object-position: 10%;
  }

  .image-one-up-module--wide.module .image-one-up-module__content,
  .image-one-up-module__content {
    grid-column: span 6;
  }
}
