.image-two-up-module.module {
  margin-bottom: 48px;
}

.image-two-up-module--wide.module {
  max-width: 100%;
}

.image-two-up-module--wide.module .image-two-up-module__content {
  grid-column: span 12;
}

.image-two-up-module--wide.module .caption-module.module {
  max-width: 100%;
}

.image-two-up-module__content {
  grid-column: span 10;
}

.image-two-up-module__images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 12px;
  row-gap: 12px;
}

.image-two-up-module__images img {
  max-width: calc(50% - 6px);
  margin: 0;
}

.image-two-up-module__caption {
  margin-bottom: -8px;
}

@media (max-width: 768px) {
  .image-two-up-module.module {
    margin-bottom: 32px;
  }

  .image-two-up-module__images {
    row-gap: 8px;
    flex-direction: column;
    margin: 0;
    row-gap: 12px;
  }

  .image-two-up-module__images img {
    max-width: 100%;
  }

  .image-two-up-module--wide.module .image-two-up-module__content,
  .image-two-up-module__content {
    grid-column: span 6;
  }
}
