.image-one-up-module.module {
  margin: 0 auto;
  margin-bottom: 12px;
}

.image-one-up-module:not(.image-one-up-module--wide).module {
  max-width: 580px;
}

.image-one-up-module__image {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .image-one-up-module.module {
    padding: 0;
  }

  .image-one-up-module__caption {
    margin-bottom: -12px;
  }
}
