.image-one-up-module.module {
  margin-bottom: 48px;
}

.image-one-up-module--wide.module {
  max-width: 100%;
}

.image-one-up-module--wide.module .image-one-up-module__content {
  grid-column: span 12;
}

.image-one-up-module--wide.module .caption-module.module {
  max-width: 100%;
}

.image-one-up-module__content {
  grid-column: span 10;
}

.image-one-up-module__image {
  margin: 0;
}

@media (max-width: 768px) {
  .image-one-up-module.module {
    padding: 0;
    margin-bottom: 32px;
  }

  .image-one-up-module.hero-image {
    min-height: 70vh;
  }

  .image-one-up-module.hero-image img {
    height: 100%;
    object-fit: cover;
    object-position: 10%;
  }

  .image-one-up-module__caption {
    margin-bottom: -8px;
  }
}
