.links-module.module {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 12px;
  color: var(--link-color);
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 10rem auto 6rem;
}

.links-module p {
  margin: 0;
}

.links-module__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.links-module__buttons .button svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .links-module.module {
    margin-top: 8rem;
  }

  .links-module__buttons {
    flex-direction: column;
    row-gap: 12px;
  }
}
