#nav {
	position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  z-index: 1000;
}

#nav a {
	color: var(--primary-color);
	line-height: 0;
	height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  background: var(--link-color);
}

#nav a:hover,
#nav a:active {
  background: var(--link-color-alt);
	line-height: 0;
}

@media screen and (max-width: 768px) {
  #nav {
    height: 80px;
    width: 80px;
  }
}