.nav-module.module {
  max-width: 840px;
  margin-bottom: 24px;
  padding-top: 24px;
}

.nav-module__inner {
  border-bottom: 1px solid var(--link-color);
  display: flex;
}

.nav-module .nav-module__list {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  column-gap: 32px;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-module .nav-module__list li {
  margin-bottom: 0;
}

.nav-module .nav-module__list a {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: block;
}

.nav-module .nav-module__list li.active a {
  font-weight: 800;
}

.nav-module .nav-module__wordmark a {
  width: 85px;
  height: 128px;
  color: var(--primary-color);
  background: var(--link-color);
  display: flex;
  align-items: flex-end;
  padding: 4px;
}

.nav-module .nav-module__wordmark a:hover,
.nav-module .nav-module__wordmark a:active {
  background: var(--link-color-alt);
}

@media screen and (max-width: 768px) {

  .nav-module {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .nav-module .nav-module__list {
    flex-direction: column;
  }

  .nav-module.nav-module--home .nav-module__inner {
    border: none;
    padding-bottom: 0;
  }
}