.nav-module.module {
  max-width: 192px;
  min-width: 192px;
  border-top: 1px solid var(--text-color);
  padding-top: 24px;
  position: sticky;
  top: 16px;
  height: 320px;
  margin-bottom: 0;
}

.nav-module__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  column-gap: 32px;
  row-gap: 16px;
  padding: 0;
  margin: 0;
}

.nav-module__link {
  font-family: 'Libre Bodoni', serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}

.nav-module__link a {
  text-decoration: none;
}

.nav-module__link.active a,
.nav-module__link a:hover {
  text-decoration: line-through;
}

.nav-module__metadata,
.nav-module__alert {
  display: none;
}

@media (max-width: 768px) {
  .nav-module.module {
    position: unset;
    height: auto;
    max-width: 100%;
    padding-top: 8px;
    position: sticky;
    top: -1px;
    padding: 12px 0;
    background-color: var(--primary-color);
    margin-bottom: 0;
  }

  .nav-module__nav {
    grid-row: 1;
    grid-column: span 6;
  }

  .nav-module__links {
    row-gap: 12px;
    column-gap: 12px;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav-module__link {
    font-size: 16px;
  }
}
