.paragraph-module.module {
  width: 100%;
  margin-bottom: 48px;
}

.paragraph-module__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  grid-column: span 8;
}

.paragraph-module__content p {
  hyphens: auto;
  text-wrap: pretty;
}

@media (max-width: 1024px)  {
  .paragraph-module__content {
    grid-column: span 10;
  }
}


@media (max-width: 768px)  {
  .paragraph-module.module {
    margin-bottom: 32px;
  }

  .paragraph-module__content {
    grid-column: span 6;
  }

  .paragraph-module__content h2 {
    margin-bottom: -4px;
  }
}
