.paragraph-module.module {
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.paragraph-module p {
  hyphens: auto;
}

@media screen and (max-width: 768px) {
  .paragraph-module.module {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
