.quote-module.module {}

.quote-module__quote {
  font-family: 'Libre Bodoni', serif;
  font-size: 48px;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-style: italic;
  grid-template-columns: span 10;
}

@media (max-width: 768px) {
  .quote-module.module {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}
