.section-module.module {
  margin-bottom: 48px;
}

.section-module__title {
  border-top: 1px solid var(--text-color);
  padding-top: 48px;
  grid-row: 1;
  grid-column: span 10;
}

.section-module__content {
  grid-row: 2;
  grid-column: span 8;
}

.section-module .paragraph-module.module {
  margin: 0;
  display: block;
}

.section-module.module.no-margin-bottom,
.section-module.module.no-margin-bottom h1 {
  margin-block-end: 0;
}

@media (max-width: 1024px)  {
  .section-module__content {
    grid-column: span 10;
  }
}

@media (max-width: 768px)  {
  .section-module.module {
    margin-bottom: 32px;
  }

  .section-module__title,
  .section-module__content {
    grid-column: span 6;
  }

  .section-module__title {
    padding-top: 24px;
  }
}
