.section-module.module {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.section-module h2 {
  width: 50%;
  padding-left: 24px;
  position: relative;
}

.section-module h2:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--link-color);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 12px;
}

.section-module.module .paragraph-module.module {
  margin-top: 1.75em;
}

@media screen and (max-width: 768px) {
  .section-module.module {
    margin-top: 5rem;
  }

  .section-module.module .paragraph-module.module {
    margin-top: 1.25em;
  }

  .section-module h2 {
    width: 100%;
  }
}
