.section-module.module {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.section-module h2 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--link-color);
}

.section-module.module .paragraph-module.module {
  margin-top: 2em;
}

@media screen and (max-width: 768px) {
  .section-module.module {
    margin-top: 5rem;
  }

  .section-module h2 {
    width: 100%;
  }
}
