.separator-module.module {
}

.separator-module__separator {
  grid-column: span 8;
  border-top: 1px solid var(--text-color);
}

@media (max-width: 768px) {
  .separator-module__separator {
    grid-column: span 6;
  }
}
