.separator-module.module {
  margin: 48px 0;
}

.separator-module__separator {
  grid-column: span 10;
  border-top: 1px solid var(--text-color);
}

@media (max-width: 768px) {
  .separator-module__separator {
    grid-column: span 6;
  }
}
