@import "./fonts.css";
@import "./vanilla.css";
@import "./variables.css";
@import "./hero.css";
@import "./links.css";
@import "./section.css";
@import "./paragraph.css";
@import "./image-one-up.css";
@import "./image-two-up.css";
@import "./footer.css";

h1, h2, h3, h4, h5, h6, p, blockquote, dl, img, figure {
  margin: 0;
}

svg {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: var(--primary-color);
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--header-color);
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2rem;
  color: inherit;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

img {
  margin: 0;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.35s ease;
}

img.lazyload[src] {
  opacity: 1;
}

.module {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.module .module {
  padding: 0;
}

.button, a.button {
  display: inline-block;
  width: auto;
  border-radius: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border: 2px solid var(--link-color);
  color: var(--primary-color);
  background: var(--link-color);
}

.button:hover {
  background: var(--link-color-alt);
  border-color: var(--link-color-alt);
}
