@import "./grid.css";
@import "./fonts.css";
@import "./vanilla.css";
@import "./variables.css";
@import "./header.css";
@import "./footer.css";
@import "./nav.css";
@import "./experience-usonia.css";
@import "./section.css";
@import "./paragraph.css";
@import "./image-one-up.css";
@import "./image-two-up.css";
@import "./image-three-up.css";
@import "./caption.css";
@import "./big-text.css";
@import "./tickets.css";
@import "./separator.css";
@import "./callout.css";
@import "./banners.css";
@import "./matterport.css";

h1, h2, h3, h4, h5, h6, p, blockquote, dl, img, figure, ul, ol {
  margin: 0;
}

svg {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: "Jost", system-ui, sans-serif;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 17px;
  line-height: 27px;
}

@media (max-width: 768px) {
  body {
    font-weight: 450;
  }
}

#wrapper {
  position: relative;
  padding: 48px 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  #wrapper {
    padding: 24px 12px 12px;
  }
}

p, li, center {
  margin: 0;
  font-size: 17px;
  line-height: 27px;
}

small {
  font-size: 13px;
  line-height: 17px;
}

sup {
  font-size: 11px;
  vertical-align: top;
  position: relative;
  top: -0.3em;
}

@media (max-width: 768px) {
  p, li, center {
    line-height: 28px;
  }
}

#content {
  margin-top: 0;
}

#content .section-module:not(:first-child) {
  margin-top: 144px;
}

#main-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  #content .section-module:not(:first-child) {
    margin-top: 64px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  font-weight: 500;
}

h1 {
  font-size: 42px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 24px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 24px;
    padding-top: 20px;
  }
}

strong {
  font-weight: 600;
}

blockquote {
  background-color: transparent;
  margin: 12px 0;
  padding: 8px 16px 8px 16px;
  border-left: 1px solid var(--text-color);
  font-style: italic;
  font-family: "Jost", system-ui, sans-serif;
  font-size: 17px;
  line-height: 27px;
  text-indent: -8px;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.35s ease;
}

img.lazyload[src] {
  opacity: 1;
}

.noscroll {
  overflow: hidden;
}

.module {
  width: 100%;
  max-width: 900px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .module {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    margin-bottom: 32px;
  }
}

button.button,
a.button {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 13px 15px;
  display: flex;
  height: 48px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
}

button.button.button-secondary,
a.button.button-secondary {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background: transparent;
}

button.button.button-large.button-large,
a.button.button-large.button-large {
  border-width: 2px;
  height: 64px;
  padding: 16px 20px;
}

button.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

@media (max-width: 768px) {
  button.button,
  a.button {
    padding: 12px 14px;
    height: 44px;
  }

  button.button.button-large.button-large,
  a.button.button-large.button-large {
    border-width: 2px;
    height: 56px;
    padding: 14px 16px;
  }
}

/* *:focus {
  outline: 1px solid var(--text-color);
} */

.skip-link {
  position: absolute;
  top: -120px;
  left: 10px;
  background: white;
  padding: 10px;
  z-index: 1001;
  font-family: "Montserrat", sans-serif;
}

.skip-link:focus {
  top: 10px;
}

.trespassing {
  position: fixed;
  right: 48px;
  bottom: 0;
  transform: rotateZ(90deg);
  transform-origin: bottom right;
  justify-content: flex-end;
  height: 48px;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  column-gap: 16px;
  line-height: 12px;
  pointer-events: none;
}

.trespassing__glyph,
.trespassing__text {
  flex-shrink: 0;
  position: relative;
}

/* .trespassing__text::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  display: inline-block;
} */

@media (max-width: 768px) {
  .trespassing {
    display: none;
  }
}
