@import "./fonts.css";
@import "./vanilla.css";
@import "./variables.css";
@import "./hero.css";
@import "./links.css";
@import "./section.css";
@import "./paragraph.css";
@import "./image-one-up.css";
@import "./image-two-up.css";
@import "./nav.css";
@import "./footer.css";
@import "./banner.css";
@import "./big-text.css";
@import "./caption.css";
@import "./separator.css";

h1, h2, h3, h4, h5, h6, p, blockquote, dl, img, figure, ul, ol {
  margin: 0;
}

svg {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: var(--primary-color);
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Bodoni", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--header-color);
}

h2 { 
  line-height: 2.5rem;
  font-size: 28px;
  letter-spacing: -1px;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.35s ease;
}

img.lazyload[src] {
  opacity: 1;
}

.noscroll {
  overflow: hidden;
}

.module {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.module--wide {
  max-width: 100%;
}

.module .module {
  padding: 0;
}

.button, a.button {
  display: inline-block;
  width: auto;
  border-radius: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  color: var(--primary-color);
  background: var(--link-color);
}

.button:hover,
.button:active {
  background: var(--link-color-alt);
}
