@import "./fonts.css";
@import "./vanilla.css";
@import "./variables.css";
@import "./hero.css";
@import "./links.css";
@import "./section.css";
@import "./paragraph.css";
@import "./image-one-up.css";
@import "./image-two-up.css";
@import "./nav.css";
@import "./footer.css";
@import "./banner.css";
@import "./big-text.css";
@import "./caption.css";
@import "./separator.css";
@import "./events.css";
@import "./quote.css";

h1, h2, h3, h4, h5, h6, p, blockquote, dl, img, figure, ul, ol {
  margin: 0 0 2rem;
}

svg {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: var(--primary-color);
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 27px;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Bodoni", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--header-color);
  letter-spacing: 0;
  line-height: 1.4em;
}

h2 {
  line-height: 2.5rem;
  font-size: 28px;
  letter-spacing: -1px;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.35s ease;
}

img.lazyload[src] {
  opacity: 1;
}

blockquote {
  border-left: none;
  font: inherit;
  font-style: italic;
  margin-left: 24px;
  background: transparent;
  padding: 0 16px;
}

a:not(.button):nth-of-type(4n):hover {
  color: var(--goetsch-green);
}

a:not(.button):nth-of-type(4n+2):hover {
  color: var(--goetsch-gold);
}

a:not(.button):nth-of-type(4n+3):hover {
  color: var(--goetsch-blue);
}

.noscroll {
  overflow: hidden;
}

.module {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

.module--wide {
  max-width: 100%;
}

.module.module .module.module {
  padding: 0;
  margin: 0;
}

.button, a.button {
  display: inline-block;
  width: auto;
  border-radius: 48px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 21px;
  color: var(--primary-color);
  background: var(--link-color);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.15s ease;
}

.button.inactive, a.button.inactive {
  cursor: default;
  background-color: var(--tertiary-color);
  opacity: 0.66;
}

.button:not(.inactive):hover,
.button:not(.inactive):active {
  transform: scale(1.05);
  background-image: url('/img/goetsch-orbs.jpg');
  background-size: cover;
  background-position: center;
}

.skip-link {
  position: absolute;
  top: -120px;
  left: 10px;
  background: white;
  padding: 10px;
  z-index: 1001;
  font-family: "Montserrat", sans-serif;
}

.skip-link:focus {
  top: 10px;
}

.art-bar {
  position: relative;
  padding-top: 16px;
}

.art-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background-image: url('/img/goetsch-orbs-banner.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
    line-height: 26px;
  }

  .art-bar {
    padding-top: 12px;
  }

  .art-bar::after {
    height: 12px;
  }
}
