:root {
  --desktop-font-size: 19px/1.5;
  --mobile-font-size: 19px/1.5;
  --header-color: #532104;
  --text-color: #F03B11;
  --link-color: #F03B11;
  --link-color-alt: #F03B11;
  --primary-color: #FFD3A9;
  --secondary-color: #511F28;
  --tertiary-color: #511F28;
}
