<aside class="extras">
  <div class="trespassing">
    <strong>Private property</strong><br/>
    No trespassing<br/>
    Do not disturb occupants<br/>
  </div>
  <div class="newsletter">
    <div>
      <strong>Newsletter</strong><br/>
      Be the first to know about upcoming tours and events.
    </div>
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/goetschwincklerhouse"
      method="post"
    >
      <input type="email" name="email" id="email" placeholder="you@example.com" required />
      <input type="submit" value="Subscribe" />
    </form>
  </div>
</aside>
