<div class="floating-links">
  <a class="button button-secondary" rel="nofollow noreferrer" target="_blank" href="https://airbnb.com/h/goetschwincklerhouse">
    {% include "partials/airbnb.njk" %}
  </a>
  <a class="button button-secondary" rel="nofollow noreferrer" target="_blank" href="https://instagram.com/goetschwincklerhouse">
    {% include "partials/instagram.njk" %}
  </a>
</div>
