<ol>
  <li class="{{ 'active' if pageKey === 'home' }}">
    <a href="/">About</a>
  </li>
  <li class="{{ 'active' if pageKey === 'visit' }}">
    <a href="/visit">Visit</a>
  </li>
  <li class="{{ 'active' if pageKey === 'events' }}">
    <a href="/events">Events</a>
  </li>
  <li class="{{ 'active' if pageKey === 'bookings' }}">
    <a href="/bookings">Bookings</a>
  </li>
  <li class="{{ 'active' if pageKey === 'contact' }}">
    <a href="/contact">Contact</a>
  </li>
</ol>