<ol>
{% for navLink in navLinks | sortByField('order') %}
  {% if not navLink.fields.isHidden %}
    <li class="{{ 'active' if pageKey === navLink.fields.pageKey }}">
      <a href="{{ navLink.fields.url }}">
        {{ navLink.fields.name }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ol>