<div class="trespassing">
  <span class="trespassing__glyph">
    {% include "static/svg/house.svg" %}
  </span>
  <span class="trespassing__text">
    <small><strong>Private property.</strong> No trespassing. Do not disturb&nbsp;occupants.</small>
  </span>
</div>
