{% extends "layout.njk" %}

{% set pageKey = "notFound" %}
{% set title = "404" %}

{% block content %}
  {{ renderModule("section", {
    title: "Error 404",
    content: "This page does not exist or has been moved. [Go home](/)."
  }) }}
{% endblock %}
