<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% if title %}
      <title>{{ title }} — Goetsch&ndash;Winckler House by Frank Lloyd Wright</title>
    {% else %}
      <title>Goetsch&ndash;Winckler House by Frank Lloyd Wright</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# Open Graph stuffs #}
    <meta property="og:title" content="Goetsch–Winckler House - Frank Lloyd Wright">
    <meta property="og:description" content="Now available on Airbnb and VRBO — Frank Lloyd Wright’s Goetsch–Winckler House (1940) is widely regarded as one of the most elegant examples of Wright’s Usonian ideal—and reportedly his “favorite little house”!">
    <meta property="og:image" content="https://experienceusonia.com/img/banner.jpg">
    <meta property="og:url" content="https://experienceusonia.com">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://unpkg.com/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script defer type="module" src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFX073R72Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-TFX073R72Y');
    </script>

    {% block extraHead %}{% endblock %}
  </head>
  <body>
    <div id="content">
      {% if url != "/" %}
        {{ renderModule("header") }}
      {% endif %}
      <main id="main">
        {% block content %}
          {# Page content goes here. #}
        {% endblock %}
      </main>
      {{ renderModule("footer") }}
    </div>
  </body>
</html>
